# Python
__pycache__/
.DS_Store
.gitignore
.python-version
.ruff_cache/
.venv/
.vscode/
*.egg
*.egg-info
*.py[oc]
*.tar.bz2
*.tar.gz
*.whl
*.zip
build/
dist/
venv/
wheels/


# App 
YahooFinance.code-workspace
price_data.csv
config.yaml
logfile.log